
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply bg-[#4F1486] text-white px-3 py-2 rounded-md text-sm text-white;
    }
}  

.complex-gradient {
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: radial-gradient(63% 83% at 100% 18%, #F8F2E6 2%, #073AFF00 100%);
}  

.complex-gradient2 {
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: radial-gradient(63% 83% at 100% 0%, #F8F2E6 24%, #073AFF00 100%);
}  